.circle {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-white);

  &--sm {
    width: 44px;
    height: 44px;
  }

  &--2xl {
    width: 80px;
    height: 80px;
  }

  &--white-01 {
    background-color: rgba(var(--color-white--rgb), 0.1);
  }

  &--disabled {
    background-color: rgba(var(--color-white--rgb), 0.5);
    pointer-events: none;
  }

  &__inner {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__img {
    &--rotate-180deg {
      transform: rotate(180deg);
    }
  }
}
