.faq {
  &__content {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: calc(25% - 26px);
      top: 0;
      width: 1px;
      height: 100%;
      z-index: -1;
      background-color: #373737;
    }

    &:after {
      content: "";
      position: absolute;
      left: calc(75% + 24px);
      top: 0;
      width: 1px;
      height: 100%;
      z-index: -1;
      background-color: #373737;
    }
  }

  &__list {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border-left: 1px solid #373737;
    border-right: 1px solid #373737;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 102px;
      height: 100%;
      background-color: var(--color-black);
      box-sizing: border-box;
      border-left: 1px solid #373737;
      border-right: 1px solid #373737;
    }
  }

  &__item {
    width: calc(50% - 50px);
    border-bottom: 1px solid #373737;

    &:first-child,
    &:nth-child(2) {
      border-top: 1px solid #373737;
    }

    &:nth-child(2n) {
      margin-left: 100px;
    }
  }

  @media (max-width: 1240px) {
    &__content {
      &:before,
      &:after {
        display: none;
      }
    }

    &__list {
      padding-right: 90px;
      border-right-color: transparent;

      &:before {
        left: unset;
        right: 0;
        transform: translateX(0);
        width: 88px;
      }
    }

    &__item {
      width: 50%;

      &:nth-child(2n) {
        border-left: 1px solid #373737;
        margin-left: 0;
      }
    }
  }

  @media (max-width: 991px) {
    &__list {
      padding-right: 86px;
    }

    &__item {
      width: 100%;
      border-right: 1px solid #373737;

      &:nth-child(2) {
        border-top: none;
      }

      &:nth-child(2n) {
        border-left: none;
      }

      &:nth-child(2n + 1) {
        border-right: 1px solid #373737;
      }
    }
  }

  @media (max-width: 767px) {
    &__list {
      padding-right: 0;
      border-left: none;
      border-right: none;

      &:before {
        display: none;
      }
    }

    &__item {
      border-right: none;

      &:nth-child(2n + 1) {
        border-right: none;
      }
    }
  }
}
