.info {
  padding: 32px 32px 32px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }

  &--pt-xl {
    padding-top: 56px;
  }

  &--pb-lg {
    padding-bottom: 36px;
  }

  &--pr-0 {
    padding-right: 0;
  }

  &__text {
    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  &__link {
    margin-top: 32px;
  }
  
  &__breadcrumb {
    margin-bottom: 32px;
  }

  &__details {
    width: 100%;
    
    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  &__detail {
    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  &__items {
    margin-top: 32px;
  }

  &__item {
    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  @media (max-width: 1240px) {
    &--hidden {
      display: none;
    }
  }

  @media (max-width: 767px) {
    padding: 24px 20px;

    &__text {
      &:not(:first-child) {
        margin-top: 16px;
      }
    }

    &__item {
      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }
}
