.portfolio {
  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #373737;
    border-right: 1px solid #373737;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100%;
      background-color: var(--color-black);
      box-sizing: border-box;
    }
  }

  &__item {
    min-height: 575px;
    width: calc(50% - 50px);
    border-bottom: 1px solid #373737;

    &:nth-child(2n + 1) {
      border-right: 1px solid #373737;
    }

    &:nth-child(2n) {
      margin-left: 100px;
      border-left: 1px solid #373737;
    }
  }

  @media (max-width: 1240px) {
    &__list {
      padding-right: 86px;
      border-right-color: transparent;

      &:before {
        left: unset;
        right: 0;
        transform: translateX(0);
        width: 87px;
      }
    }

    &__item {
      width: 50%;

      &:nth-child(2n + 1) {
        border-right: none;
      }

      &:nth-child(2n) {
        margin-left: 0;
      }
    }
  }

  @media (max-width: 991px) {
    &__item {
      width: 100%;
      border-right: 1px solid #373737;

      &:nth-child(2n) {
        border-left: none;
      }

      &:nth-child(2n + 1) {
        border-right: 1px solid #373737;
      }
    }
  }

  @media (max-width: 767px) {
    &__list {
      padding-right: 0;
      border-left: none;
      border-right: none;

      &:before {
        display: none;
      }
    }

    &__item {
      min-height: 484px;
      border-right: none;

      &:nth-child(2n + 1) {
        border-right: none;
      }
    }
  }
}
