.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__img-box {
    width: 100%;
    height: 460px;
    display: block;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__info {
    padding: 32px;
    width: 100%;
    flex: 1 1 auto;
    background-color: var(--color-black-3);
    border-top: 1px solid #373737;
  }

  &__details {
    margin-top: -16px;
    margin-left: -32px;
    display: flex;
    flex-wrap: wrap;
  }

  &__detail {
    margin-top: 16px;
    margin-left: 32px;
    width: calc(50% - 32px);
  }

  @media (max-width: 767px) {
    &__img-box {
      height: 320px;
    }

    &__info {
      padding: 24px 20px;
      border-left: 1px solid #373737;
      border-right: 1px solid #373737;
    }

    &__detail {
      width: calc(100% - 32px);
    }
  }
}
