.work-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__header {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &__header-link {
    margin-top: 12px;
  }

  &__slider {
    flex: 1 1 auto;
    width: 100%;
  }

  &__body {
    height: 100%;
    background-color: var(--color-black-3);
    border-top: 1px solid rgba(var(--color-white--rgb), 0.1);
    border-bottom: 1px solid rgba(var(--color-white--rgb), 0.1);
  }

  &__main {
    position: relative;
    padding: 32px;
    transition: background 0.35s;

    &:hover {
      background-color: var(--color-black);
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__detail {
    &:not(:first-child) {
      margin-top: 16px;
    }

    .work-detail__text {
      background-color: var(--color-black-3);
    }

    .work-detail__value {
      background-color: var(--color-black-3);
    }
  }

  &__main:hover &__detail {
    .work-detail__text {
      background-color: var(--color-black);
    }

    .work-detail__value {
      background-color: var(--color-black);
    }
  }

  &__link {
    margin-top: 32px;
    transition: opacity 0.35s, visibility 0.35s;
  }

  &__main:hover &__link {
    opacity: 0;
    visibility: hidden;
  }

  &__btn {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s;
  }

  &__main:hover &__btn {
    opacity: 1;
    visibility: visible;
  }

  &__images {
    padding: 32px;
    border-top: 1px solid rgba(var(--color-white--rgb), 0.1);
  }

  &__images-list {
    margin-left: -8px;
    margin-top: -8px;
    display: flex;
    flex-wrap: wrap;
  }

  &__img-box {
    position: relative;
    margin-top: 8px;
    margin-left: 8px;
    padding-top: 44.4%;
    width: calc(33.33% - 8px);
    opacity: 0.3;
    transition: opacity 0.35s;

    &--active {
      opacity: 1;
      cursor: default;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1240px) {
    &__header {
      order: 2;
    }

    &__header-link {
      margin-top: 0;
    }
  }

  @media (max-width: 767px) {
    &__header {
      padding: 24px 0;
    }

    &__main {
      padding: 24px 20px;
    }

    &__images {
      padding: 24px 20px;
    }
  }
}
