:root {
  --container-width:            1280px;

  --color-white:                #ffffff;
  --color-white--rgb:           255, 255, 255;
  --color-black:                #141414;
  --color-black--rgb:           20, 20, 20;
  --color-black-2:              #262626;
  --color-black-3:              #222222;
  --color-grey:                 #909090;
  --color-grey--rgb:            144, 144, 144;
}
